:root {
    --glass-bg: rgba(255,255,255,0.4);

    --liquid-border:
        linear-gradient(
            135deg,
            rgba(255,255,255,0.8) 0%,
            rgba(255,255,255,0.1) 100%
        );

    --accent-glow:
        rgba(59,130,246,0.15);
}

body {
    background: #f8fafc;
    color: #0f172a;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Plus Jakarta Sans', sans-serif;
    scroll-behavior: smooth;
}

/* Blob */
.blob {
    position: fixed;
    width: 500px;
    height: 500px;

    background:
        radial-gradient(
            circle,
            var(--accent-glow) 0%,
            transparent 70%
        );

    filter: blur(80px);
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;

    transition:
        all 1.2s cubic-bezier(0.23, 1, 0.32, 1);
}

/* Cursor */
#cursor-trail {
    position: fixed;
    width: 15px;
    height: 15px;
    background: #3b82f6;
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;
    mix-blend-mode: difference;
}

/* Glass */
.liquid-glass {
    background: var(--glass-bg);

    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);

    border: 1px solid transparent;
    border-image: var(--liquid-border) 1;

    box-shadow:
        0 8px 32px 0 rgba(31,38,135,0.05);

    border-radius: 24px;

    transition: all .5s cubic-bezier(.4,0,.2,1);
}

.liquid-glass:hover {
    transform: translateY(-5px);

    background: rgba(255,255,255,.6);

    box-shadow:
        0 20px 40px rgba(0,0,0,.05);
}

/* Color */
.color-block:hover::after {
    content: attr(data-name);

    position: absolute;

    bottom: 10px;
    left: 50%;

    transform: translateX(-50%);

    background: rgba(0,0,0,.8);

    color: white;

    padding: 4px 8px;

    border-radius: 6px;

    font-size: 10px;
    font-weight: bold;
}

/* Modal */
.modal-active {
    opacity: 1 !important;
    pointer-events: auto !important;
    transform: scale(1) !important;
}